body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}


.page-title {
    background-color: #ff00ff;
    color: white;
    padding: 5px 20px;
    font-weight: normal;
    font-size: 24px;
}

.outer-container {
    border: 8px solid #92d050; 
    border-radius: 50px;
    padding: 40px;
    width: 450px;
}


.form-card {
    border: 1px solid #4f81bd;
    border-radius: 40px;
    padding: 20px 40px;
    background-color: white;
}

.form-title {
    background-color: #7030a0;
    color: #ffc000; 
    text-align: center;
    display: table;
    margin: 0 auto 30px auto;
    padding: 2px 15px;
    text-decoration: underline;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-size: 18px;
}

.form-group label {
    width: 130px;
}

.form-group input[type="text"] {
    flex-grow: 1;
    border: 1px solid #4f81bd;
    height: 20px;
}


.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-group input[type="radio"] {
    accent-color: yellow; 
}

.radio-label {
    color: #4f81bd;
    margin-right: 20px;
}

/* Buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background-color: #4f81bd;
    color: #ffc000; /* Yellow text */
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
}